@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1a1a;
  --foreground: #eeecec;
  --text-primary: #ffa506;
  --text-light: #fff9bb;
  --text-cc: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1a1a;
    --foreground: #eeecec;
    --text-primary: #ffa506;
    --gray33: #333333;
    --gray36: #363030;
    --grayd6: #d6d6d6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-primary {
  background: linear-gradient(0deg, #363030, #363030),
    linear-gradient(
      88.97deg,
      rgba(255, 255, 255, 0.02) -24.48%,
      rgba(255, 206, 115, 0.137998) 6.85%,
      rgba(255, 206, 115, 0.2) 51.91%,
      rgba(255, 206, 115, 0.0956863) 123.99%,
      rgba(255, 255, 255, 0.002) 169.83%
    );

  border-image-slice: 1;
  border: solid 1px;
}
