.ButtonPrimary__container {
  position: relative;
  height: 48px;
  min-width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.ButtonPrimary__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(to right, #737373 0%, #f9f69d 32%, #737373 100%);
}

.ButtonPrimary__border--black {
  background: linear-gradient(
    90.36deg,
    rgba(255, 255, 255, 0.08) 2.12%,
    rgba(249, 246, 157, 0.8) 37.27%,
    rgba(255, 255, 255, 0.008) 113.19%
  );
}

.ButtonPrimary__inner {
  border-radius: 23px;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: relative;
  background: rgb(94, 80, 62);
  overflow: hidden;
}

.ButtonPrimary__content {
  background-image: linear-gradient(to right, #fcf27e, #fbb566);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ButtonPrimary__inner--black {
  background: #363030;
}
